.consultor__container {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.consultor__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 98%;
  height: 10%;
  margin: 10rem 1rem 0 1rem;
  background-color: white;
  @media screen and (max-width: 600px) {
    margin: 5rem 0 0 0;
    text-align: center;
    width: 100%;
  }
}

.consultor__titleHeading {
  color: "black";
  margin: 0 70rem 0 0;
  text-indent: 1rem;
  font-weight: 300;
  @media screen and (max-width: 600px) {
    margin: 0 0 0 0;
    text-align: center;
  }
}

.consultor__boxContract {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98%;
  height: 60%;
  margin: 1rem 1rem 0 1rem;
  background-color: white;
  @media screen and (max-width: 600px) {
    justify-content: center;
    width: 100%;
  }
}

.consultor__box {
  display: flex;
  flex: 1;
  flex-direction: "row";
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  @media screen and (max-width: 600px) {
    flex-direction: column;
    justify-content: center;
    margin: 0 0 2rem 0;
  }
}

.consultor__content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  padding: 1rem;
  @media screen and (max-width: 600px) {
    justify-content: center;
  }
  input[type="checkbox"] {
    margin-right: 0.5rem;
    cursor: pointer;
    font-weight: 300;
    font-size: large;
    width: 1rem;
    height: 1rem;
    @media screen and (max-width: 600px) {
      margin-right: 0.5rem;
      cursor: pointer;
      font-weight: 300;
      font-size: large;
      width: 1rem;
      height: 1rem;
    }
  }
  label {
    font-weight: 300;
    font-size: large;
    cursor: pointer;
  }
  a {
    text-decoration: none;
    color: rgb(0, 102, 143);
  }
  button {
    background-color: rgb(0, 102, 143);
    color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    border-style: none;
  }
  h4 {
    padding: 0.5rem;
    font-size: larger;
  }
  span {
    padding: 0.5rem;
    font-size: large;
    font-weight: 500;
    cursor: pointer;
  }
}
