.saldoEspecial__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 12rem;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: whitesmoke;
  box-shadow: 0 0 0.5rem 0 gray;
  overflow: hidden !important;
  height: 50vh;
  @media screen and (max-width: 600px) {
    margin: 0 0 0 0;
    height: 80vh;
  }
  @media screen and (max-width: 1200px) {
    position: absolute;
    top: 20rem;
    right: 0;
    left: 0;
    bottom: 0;
    height: 50vh;
  }
}

.saldoEspecial__description {
  font-weight: 500;
  margin: 1rem 0 1rem 0;
  padding: 0.5rem;
  opacity: 0.5;
  @media screen and (max-width: 600px) {
    margin: 1rem 0 0 0;
  }
  @media screen and (max-width: 1200px) {
    margin: 1rem 0 0 1rem;
  }
}

.saldoEspecial__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  label {
    margin: 0 0 2rem 0;
    font-size: 1rem;
    @media screen and (max-width: 1200px) {
      margin: 0 0 2rem 0;
      font-size: 1.5rem;
    }
    em {
      color: green;
    }
  }
  @media screen and (max-width: 600px) {
    text-align: center;
  }
}

.saldoEspecial__input {
  width: 25%;
  height: 25%;
  padding: 1rem;
  border-radius: 0.5rem;
  border-style: none;
  font-size: 1rem;
  text-align: center;
  background-color: rgb(200, 200, 200);
  &::placeholder {
    color: white;
  }
  &:focus {
    outline-style: none;
  }
  @media screen and (max-width: 600px) {
    width: 50%;
    height: 10%;
  }
  @media screen and (max-width: 1200px) {
    width: 50%;
    height: 20%;
  }
}
.saldoEspecial__btnSubmit {
  background-color: rgb(0, 102, 143);
  border-style: none;
  border-radius: 1rem;
  width: 15%;
  height: 25%;
  margin: 1rem 0 2rem 0;
  padding: 1rem;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  text-align: center;
  @media screen and (max-width: 600px) {
    width: 40%;
    height: 10%;
    padding: 0;
  }
  @media screen and (max-width: 1200px) {
    width: 40%;
    height: 15%;
    padding: 0;
  }
}

.saldoEspecial__alert {
  color: rgb(214, 0, 0);
  font-size: 1rem;
  padding-bottom: 1rem;
}
